

.jumbotron {
  background-color: #282c34;
  text-align: center;
}

.jumbotron h1 {
  color: #61dafb;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 44px;
}
.jumbotron p.lead {
  color: #fff;
}

.react-search {
  max-width: 500px;
  margin: 0 auto;
}

.item {
  padding-bottom: 50px;
}

.item h1 .anchor {
  margin-top: -70px;
  position: absolute;
}

.item h1 .hash-link {
  font-style: italic;
  color: #ccc;
}

.item pre {
  font-size: 16px;
}

hr.short-break {
  margin: 75px auto;
  width: 200px;
}
