
.navbar {
      background: #222;
      color: #fafafa;
      position: fixed;
      top: 0;
      height: 50px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.navbar-inverse .navbar-brand {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    color: #61dafb;
}

.navbar-inverse .navbar-brand>img {
    display:inline;
}


.jumbotron {
  background-color: #2d2d2d;
}

.jumbotron h1 {
  margin: 50px 10px;
  color: #61dafb;
  text-align: center;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 44px;
}

.react-search {
  max-width: 500px;
  margin: 0 auto;
}

.item {
  padding-bottom: 50px;
}

.item h1 .anchor {
  margin-top: -70px;
  position: absolute;
}

.item h1 .hash-link {
  font-style: italic;
  color: #ccc;
}

.item h2 {
    font-size: 28px;
    font-style: italic;
    font-weight:  normal;
    color:darkgrey;
}

.item pre code {
  font-size: 16px;
  margin: 0 auto;
}

.code-example pre {
    position: relative;
    margin-bottom: 14px;
    padding: 40px 14px 14px!important;
    border: none;
    border-radius: 0;
    overflow: auto;
    margin-top: 30px!important;
}

.code-example pre:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #484848;
    background-color: #f1ede4;
    content: "Code";
}

.code-example pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.zero-clipboard {
    position: relative;
}

.item .code-copy {
    float: right;
    position:absolute;
    right:1px;
    top:1px;
    z-index: 9999;
    background-color: transparent;
}

hr.short-break {
  margin: 75px auto;
  width: 200px;
}
